---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
An Astro website can go way beyond static pages - on the right platform.

Netlify supports not only [Streaming SSR](https://docs.astro.build/en/guides/server-side-rendering/#html-streaming) and fast [Edge Middleware](https://docs.astro.build/en/guides/middleware/), but also [on-demand revalidation](https://www.netlify.com/blog/cache-tags-and-purge-api-on-netlify/) and [stale-while-revalidate](https://www.netlify.com/blog/swr-and-fine-grained-cache-control/). 
Any page or data can be rebuilt only when needed, without site visitors ever getting a performance hit.
`;
---

<Layout title="Ben Jones. developer  | bones.dev">
    <!-- <ContextAlert class="mb-4" /> -->
    <h1 class="mb-10">B<span class="text-[#dc4224]">en J</span>ones. dev<span class="text-[#dc4224]">eloper</span></h1>
    <p>Web development, hosting, maintenance</p>
    <div id="cursor"></div>
</Layout>
